<!DOCTYPE html>
<html>
    <head>
        <title>Quiz Result</title>
        <style>
            body{
                text-align: center;
                background-color: lavender;
            }
            h2,h3{
                padding:20px;
            }
            a{
                text-decoration: none;
            }
            button{
                padding:10px;
            }
        </style>
    </head>
    <body>
        <h1>Hello, <%=username%> 🥰</h1>
        <h2>your score : <%=score %>/10</h2>
        <h3>🎉🎉🎉Badge : <%=badge%></h3>
      <button>  <a href="/review/<%= username %>">See your answers</a></button>
    </body>
</html>